.Normal_text {font-family:'Lato';font-weight:300;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Inconsolata';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_3 {font-size:24px;}
. {font-family:'Lato';font-weight:300;font-style:normal;text-decoration:none;text-transform: none;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Text_body {font-size:14.67px;}
.Heading_2 {}
.TITLE {font-size:48px;}
