.Normal_text {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:11pt;text-decoration:none;text-transform: none;color:#1A1A1A;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Small_text {font-size:8pt;}
.Heading_1 {font-family:'Source Sans Pro Bold';font-weight:bold;font-style:normal;font-size:28pt;text-decoration:none;text-transform: none;color:#1A1A1A;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.TITLE {font-size:36pt;}
