.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:18px;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'Merriweather';font-weight:bold;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#21212B;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-weight:normal;font-size:30px;}
